body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: black;
    padding: 8px;

}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 110px;
    height: auto;
    margin-right: 20px;

}

.background {
    background-color: white;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: 100vh;
}

.imagem {
    max-width: 100%;
    height: auto;
}

.content {
    padding: 20px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif
}

p {
    color: #666;
    line-height: 1.6;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.highlight {
    color: black;
    font-weight: bold;
}

.h4 {
    font-size: 1.5rem;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    font-size: 14px;
}